* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #5F50FF; 
    --seccondary: #f0f0f0;
    --text-primary: #101010;
    --text-inverse: #F9F8F8;
    --border: #101010;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--seccondary);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 48px;
}

main::after {
    content: "Default View";
    display: block;
    text-align: center;
    padding: 50px 0;
    color: black; 
}
/* Mobile View */
@media only screen and (max-width: 599px) {
    body {
        background-color: greenyellow;
    }

   .headings-container h1 {
        font-size: 64px;
        line-height: 64px;
    }

    .headings-container h2 {
        font-size: 54px;
        line-height: 54px;
    }

    main::after {
        content: "Mobile View";
        color: var(--text-primary);
    }
}

/* Tablet View */
@media only screen and (min-width: 600px) and (max-width: 899px) {
    body {
        background-color: var(--primary);
    }
    main::after {
        content: "Tablet View";
        color: var(--text-inverse)
    }
}

/* Desktop View */
@media only screen and (min-width: 900px) {
    body {
        background-color: var(--seccondary);
    }
    main::after {
        content: "Desktop View";
    }
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 32px 0 0 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    padding: 48px 0;
}

b {
    font-family: dotGothic16;
    font-size: 24px;
}

.navbar-links, a {
    display: flex;
    width: 30%;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    font-family: dotGothic16;
    color: var(--text-primary);
}

.avatar {
    width: 200px;
    border-radius: 100px;
}

section {
    padding: 48px 0;
}

.hero-container {
    max-width: 1344px;
}

.headings-container {
    padding: 0 0 32px 0;
}

h1 {
color: var(--text-primary);
font-family: DotGothic16;
font-size: 120px;
font-style: normal;
font-weight: 400;
line-height: 120px; /* 100% */
letter-spacing: -2.4px;
}

h2 {
color: var(--text-primary);
text-align: center;
font-family: DotGothic16;
font-size: 120px;
font-style: normal;
font-weight: 400;
line-height: 120px; /* 100% */
letter-spacing: -2.4px;
}

.p-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.p2 {
    padding: 0 0 0 56px;
}

.contents {
    display: flex;
    justify-content: end;
}

.content-container {
 width: 600px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 24px 0;
}

footer p {
    font-family: DotGothic16;
}

.btn {
    padding: 12px 24px;
    border-radius: 22px;
    border: 1px solid var(--border)
}

