* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #5F50FF; 
    --seccondary: #f0f0f0;
    --text-primary: #101010;
    --text-inverse: #F9F8F8;
    --border: #101010;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--seccondary);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 48px;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    padding: 48px 0;
}

b {
    font-family: dotGothic16;
    font-size: 24px;
}

.navbar-links, a {
    display: flex;
    width: 30%;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    font-family: dotGothic16;
    color: var(--text-primary);
}

.avatar {
    width: 200px;
    border-radius: 100px;
}

h1 {
color: var(--text-primary);
font-family: DotGothic16;
font-size: 120px;
font-style: normal;
font-weight: 400;
line-height: 120px; /* 100% */
letter-spacing: -2.4px;
}

h2 {
color: var(--text-primary);
text-align: center;
font-family: DotGothic16;
font-size: 120px;
font-style: normal;
font-weight: 400;
line-height: 120px; /* 100% */
letter-spacing: -2.4px;
}

.p-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.p2 {
    padding: 0 0 0 56px;
}

.contents {
    display: flex;
    justify-content: end;
}

.content-container {
 width: 648px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 24px 0;
}

footer p {
    font-family: DotGothic16;
}

.btn {
    padding: 12px 24px;
    border-radius: 22px;
    border: 1px solid var(--border)
}

